@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="form-group">
                    <a asp-action="Create" asp-controller="Product" id="add_btn" class="btn btn-primary btn-sm">Thêm</a>
                    <a id="btn_delete" class="btn btn-danger btn-sm disabled">Xóa</a>
                    <a id="btn_uncheck" class="btn btn-default btn-sm pull-right" style="display:none">Bỏ chọn</a>
                </div>
                <div class="table-responsive">
                    <table id="content_table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Mô tả</th>
                                <th>Tồn kho</th>
                                <th>Cập nhật mới nhất</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 5; i++)
                            {
                                <tr data-id="@i">
                                    <td>@i</td>
                                    <td><strong>Product Name @i</strong></td>
                                    <td class="text-center">
                                        <img class="admin-product-item product-img" src="http://placehold.it/150x150" />
                                    </td>
                                    <td>Short Description</td>
                                    <td>25</td>
                                    <td>20/07/2017</td>
                                    <td class="text-center">
                                        <a asp-action="Details" asp-controller="Product" asp-route-productId="@i" class="text-primary" title="Chi tiết">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>
                                        <a asp-action="Update" asp-controller="Product" asp-route-productId="@i" class="text-primary" title="Chỉnh sửa">
                                            &nbsp;<span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section Scripts{
    <script src="~/js/admin_product.js"></script>
}
